body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    display: flex;
}

h1 {
    color: antiquewhite;
   }

  .normal{
    background-color: skyblue;
  }

  .wide{
    background-color: orchid;
  }

  .wider{
    background-color: gold;
  }